.idea/.name
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/roto-2-cpp.iml
.idea/vcs.xml
cmake-build-debug/.cmake/api/v1/query/cache-v2
cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
cmake-build-debug/.cmake/api/v1/query/codemodel-v2
cmake-build-debug/.cmake/api/v1/query/toolchains-v1
cmake-build-debug/.cmake/api/v1/reply/cache-v2-2a3f16ec28a3de6b1888.json
cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-db84400d934e66444b3d.json
cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-7a81aeb3d71f08d41793.json
cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
cmake-build-debug/.cmake/api/v1/reply/index-2025-04-21T09-05-59-0389.json
cmake-build-debug/.cmake/api/v1/reply/target-roto_2_cpp-Debug-60916ed4f39360786c7d.json
cmake-build-debug/.cmake/api/v1/reply/target-roto_2_cpp_autogen-Debug-938352f9217db12e1902.json
cmake-build-debug/.cmake/api/v1/reply/target-roto_2_cpp_autogen_timestamp_deps-Debug-f6aab38a4774732e4dad.json
cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-dd91f3bde9e0cf36a73a.json
cmake-build-debug/.ninja_deps
cmake-build-debug/.ninja_log
cmake-build-debug/.qt/QtDeploySupport.cmake
cmake-build-debug/.qt/QtDeployTargets.cmake
cmake-build-debug/brotlicommon.dll
cmake-build-debug/brotlidec.dll
cmake-build-debug/build.ninja
cmake-build-debug/bz2d.dll
cmake-build-debug/cmake_install.cmake
cmake-build-debug/CMakeCache.txt
cmake-build-debug/CMakeFiles/3.31.6/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.31.6/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.31.6/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.31.6/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.31.6/CMakeRCCompiler.cmake
cmake-build-debug/CMakeFiles/3.31.6/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.31.6/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.31.6/CompilerIdC/CMakeCCompilerId.exe
cmake-build-debug/CMakeFiles/3.31.6/CompilerIdC/CMakeCCompilerId.obj
cmake-build-debug/CMakeFiles/3.31.6/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/3.31.6/CompilerIdCXX/CMakeCXXCompilerId.exe
cmake-build-debug/CMakeFiles/3.31.6/CompilerIdCXX/CMakeCXXCompilerId.obj
cmake-build-debug/CMakeFiles/clean_additional.cmake
cmake-build-debug/CMakeFiles/clion-Debug-log.txt
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
cmake-build-debug/CMakeFiles/roto_2_cpp.dir/embed.manifest
cmake-build-debug/CMakeFiles/roto_2_cpp.dir/intermediate.manifest
cmake-build-debug/CMakeFiles/roto_2_cpp.dir/manifest.rc
cmake-build-debug/CMakeFiles/roto_2_cpp.dir/manifest.res
cmake-build-debug/CMakeFiles/roto_2_cpp.dir/roto_2_cpp_autogen/mocs_compilation.cpp.obj
cmake-build-debug/CMakeFiles/roto_2_cpp.dir/src/main.cpp.obj
cmake-build-debug/CMakeFiles/roto_2_cpp.dir/src/utils/CurveUtils.cpp.obj
cmake-build-debug/CMakeFiles/roto_2_cpp.dir/src/window/CanvasWidget.cpp.obj
cmake-build-debug/CMakeFiles/roto_2_cpp.dir/src/window/SketchWindow.cpp.obj
cmake-build-debug/CMakeFiles/roto_2_cpp.dir/vc140.pdb
cmake-build-debug/CMakeFiles/roto_2_cpp_autogen.dir/AutogenInfo.json
cmake-build-debug/CMakeFiles/roto_2_cpp_autogen.dir/AutogenUsed.txt
cmake-build-debug/CMakeFiles/roto_2_cpp_autogen.dir/ParseCache.txt
cmake-build-debug/CMakeFiles/rules.ninja
cmake-build-debug/CMakeFiles/ShowIncludes/foo.h
cmake-build-debug/CMakeFiles/ShowIncludes/main.c
cmake-build-debug/CMakeFiles/ShowIncludes/main.obj
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/d3dcompiler_47.dll
cmake-build-debug/double-conversion.dll
cmake-build-debug/dxcompiler.dll
cmake-build-debug/dxil.dll
cmake-build-debug/freetyped.dll
cmake-build-debug/generic/qtuiotouchplugind.dll
cmake-build-debug/harfbuzz.dll
cmake-build-debug/iconengines/qsvgicond.dll
cmake-build-debug/icudtd74.dll
cmake-build-debug/icuind74.dll
cmake-build-debug/icuucd74.dll
cmake-build-debug/imageformats/qgifd.dll
cmake-build-debug/imageformats/qicod.dll
cmake-build-debug/imageformats/qjpegd.dll
cmake-build-debug/imageformats/qsvgd.dll
cmake-build-debug/libpng16d.dll
cmake-build-debug/networkinformation/qnetworklistmanagerd.dll
cmake-build-debug/pcre2-16d.dll
cmake-build-debug/platforms/qdirect2dd.dll
cmake-build-debug/platforms/qdirect2dd.pdb
cmake-build-debug/platforms/qminimald.dll
cmake-build-debug/platforms/qminimald.pdb
cmake-build-debug/platforms/qoffscreend.dll
cmake-build-debug/platforms/qoffscreend.pdb
cmake-build-debug/platforms/qwindowsd.dll
cmake-build-debug/platforms/qwindowsd.pdb
cmake-build-debug/Qt6Cored.dll
cmake-build-debug/Qt6Guid.dll
cmake-build-debug/Qt6Networkd.dll
cmake-build-debug/Qt6Svgd.dll
cmake-build-debug/Qt6Widgetsd.dll
cmake-build-debug/roto_2_cpp.exe
cmake-build-debug/roto_2_cpp.ilk
cmake-build-debug/roto_2_cpp.pdb
cmake-build-debug/roto_2_cpp_autogen/deps
cmake-build-debug/roto_2_cpp_autogen/ML7GKOQR6K/moc_SketchWindow.cpp
cmake-build-debug/roto_2_cpp_autogen/ML7GKOQR6K/moc_SketchWindow.cpp.d
cmake-build-debug/roto_2_cpp_autogen/moc_predefs.h
cmake-build-debug/roto_2_cpp_autogen/mocs_compilation.cpp
cmake-build-debug/roto_2_cpp_autogen/timestamp
cmake-build-debug/styles/qmodernwindowsstyled.dll
cmake-build-debug/Testing/Temporary/LastTest.log
cmake-build-debug/tls/qcertonlybackendd.dll
cmake-build-debug/tls/qopensslbackendd.dll
cmake-build-debug/tls/qschannelbackendd.dll
cmake-build-debug/translations/qt_ar.qm
cmake-build-debug/translations/qt_bg.qm
cmake-build-debug/translations/qt_ca.qm
cmake-build-debug/translations/qt_cs.qm
cmake-build-debug/translations/qt_da.qm
cmake-build-debug/translations/qt_de.qm
cmake-build-debug/translations/qt_en.qm
cmake-build-debug/translations/qt_es.qm
cmake-build-debug/translations/qt_fa.qm
cmake-build-debug/translations/qt_fi.qm
cmake-build-debug/translations/qt_fr.qm
cmake-build-debug/translations/qt_gd.qm
cmake-build-debug/translations/qt_he.qm
cmake-build-debug/translations/qt_hr.qm
cmake-build-debug/translations/qt_hu.qm
cmake-build-debug/translations/qt_it.qm
cmake-build-debug/translations/qt_ja.qm
cmake-build-debug/translations/qt_ka.qm
cmake-build-debug/translations/qt_ko.qm
cmake-build-debug/translations/qt_lv.qm
cmake-build-debug/translations/qt_nl.qm
cmake-build-debug/translations/qt_nn.qm
cmake-build-debug/translations/qt_pl.qm
cmake-build-debug/translations/qt_pt_BR.qm
cmake-build-debug/translations/qt_ru.qm
cmake-build-debug/translations/qt_sk.qm
cmake-build-debug/translations/qt_tr.qm
cmake-build-debug/translations/qt_uk.qm
cmake-build-debug/translations/qt_zh_CN.qm
cmake-build-debug/translations/qt_zh_TW.qm
cmake-build-debug/zlibd1.dll
cmake-build-debug/zstd.dll
cmake-build-release/.cmake/api/v1/query/cache-v2
cmake-build-release/.cmake/api/v1/query/cmakeFiles-v1
cmake-build-release/.cmake/api/v1/query/codemodel-v2
cmake-build-release/.cmake/api/v1/query/toolchains-v1
cmake-build-release/.cmake/api/v1/reply/cache-v2-116d76d115f0644cd31c.json
cmake-build-release/.cmake/api/v1/reply/cmakeFiles-v1-d5e3b3197eb78bceb09c.json
cmake-build-release/.cmake/api/v1/reply/codemodel-v2-85dab5a73a4bca07180e.json
cmake-build-release/.cmake/api/v1/reply/directory-.-Release-d0094a50bb2071803777.json
cmake-build-release/.cmake/api/v1/reply/index-2025-04-21T09-05-59-0404.json
cmake-build-release/.cmake/api/v1/reply/target-roto_2_cpp-Release-d01226f5b27c4e2a4c34.json
cmake-build-release/.cmake/api/v1/reply/target-roto_2_cpp_autogen-Release-dd180f99796bfac68b38.json
cmake-build-release/.cmake/api/v1/reply/target-roto_2_cpp_autogen_timestamp_deps-Release-f6aab38a4774732e4dad.json
cmake-build-release/.cmake/api/v1/reply/toolchains-v1-dd91f3bde9e0cf36a73a.json
cmake-build-release/.ninja_deps
cmake-build-release/.ninja_log
cmake-build-release/.qt/QtDeploySupport.cmake
cmake-build-release/.qt/QtDeployTargets.cmake
cmake-build-release/brotlicommon.dll
cmake-build-release/brotlidec.dll
cmake-build-release/build.ninja
cmake-build-release/bz2.dll
cmake-build-release/cmake_install.cmake
cmake-build-release/CMakeCache.txt
cmake-build-release/CMakeFiles/3.31.6/CMakeCCompiler.cmake
cmake-build-release/CMakeFiles/3.31.6/CMakeCXXCompiler.cmake
cmake-build-release/CMakeFiles/3.31.6/CMakeDetermineCompilerABI_C.bin
cmake-build-release/CMakeFiles/3.31.6/CMakeDetermineCompilerABI_CXX.bin
cmake-build-release/CMakeFiles/3.31.6/CMakeRCCompiler.cmake
cmake-build-release/CMakeFiles/3.31.6/CMakeSystem.cmake
cmake-build-release/CMakeFiles/3.31.6/CompilerIdC/CMakeCCompilerId.c
cmake-build-release/CMakeFiles/3.31.6/CompilerIdC/CMakeCCompilerId.exe
cmake-build-release/CMakeFiles/3.31.6/CompilerIdC/CMakeCCompilerId.obj
cmake-build-release/CMakeFiles/3.31.6/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-release/CMakeFiles/3.31.6/CompilerIdCXX/CMakeCXXCompilerId.exe
cmake-build-release/CMakeFiles/3.31.6/CompilerIdCXX/CMakeCXXCompilerId.obj
cmake-build-release/CMakeFiles/clean_additional.cmake
cmake-build-release/CMakeFiles/clion-environment.txt
cmake-build-release/CMakeFiles/clion-Release-log.txt
cmake-build-release/CMakeFiles/cmake.check_cache
cmake-build-release/CMakeFiles/CMakeConfigureLog.yaml
cmake-build-release/CMakeFiles/roto_2_cpp_autogen.dir/AutogenInfo.json
cmake-build-release/CMakeFiles/rules.ninja
cmake-build-release/CMakeFiles/ShowIncludes/foo.h
cmake-build-release/CMakeFiles/ShowIncludes/main.c
cmake-build-release/CMakeFiles/ShowIncludes/main.obj
cmake-build-release/CMakeFiles/TargetDirectories.txt
cmake-build-release/double-conversion.dll
cmake-build-release/freetype.dll
cmake-build-release/harfbuzz.dll
cmake-build-release/icudt74.dll
cmake-build-release/icuin74.dll
cmake-build-release/icuuc74.dll
cmake-build-release/libpng16.dll
cmake-build-release/pcre2-16.dll
cmake-build-release/platforms/qdirect2d.dll
cmake-build-release/platforms/qdirect2d.pdb
cmake-build-release/platforms/qminimal.dll
cmake-build-release/platforms/qminimal.pdb
cmake-build-release/platforms/qoffscreen.dll
cmake-build-release/platforms/qoffscreen.pdb
cmake-build-release/platforms/qwindows.dll
cmake-build-release/platforms/qwindows.pdb
cmake-build-release/Qt6Core.dll
cmake-build-release/Qt6Gui.dll
cmake-build-release/Qt6Widgets.dll
cmake-build-release/roto_2_cpp.exe
cmake-build-release/roto_2_cpp_autogen/deps
cmake-build-release/roto_2_cpp_autogen/mocs_compilation.cpp
cmake-build-release/roto_2_cpp_autogen/timestamp
cmake-build-release/Testing/Temporary/LastTest.log
cmake-build-release/zlib1.dll
cmake-build-release/zstd.dll
